certifi
click
Flask
Flask-WTF
gunicorn
itsdangerous
Jinja2
joblib
MarkupSafe
numpy
scikit-learn
scipy
pandas
seaborn
matplotlib
threadpoolctl
Werkzeug
wincertstore
WTForms
pandas_datareader
#random
datetime
statsmodels
#math

