{% extends "base.html" %}

{% block content %}

<!--{% for par in param %}-->
<!--<div><p>Parametre:{{ par.par1 }} Valeur:{{ par.par2 }}</b></p></div>-->
<!--{% endfor %}-->

<h1>
    Analyse boursière - Prédiction du prix des actions
</h1>

<p>
    Nous examinerons les données du marché boursier, en particulier certaines valeurs technologiques. Nous apprendrons à utiliser les pandas pour obtenir des informations boursières, en visualiser différents aspects, et enfin nous examinerons quelques façons d'analyser le risque d'une action, en fonction de son historique de performance précédent. Nous prédirons également les cours futurs des actions en utilisant RF
</p

<p>
    Nous répondrons aux questions suivantes en cours de route:
</p>
<ol>1. Quelle a été la variation du prix de l'action au fil du temps?</ol>
<ol>2. Quel était le rendement quotidien du stock en moyenne?</ol>
<ol>3. Quelle était la moyenne mobile des différentes actions?</ol>
<ol>4. Quelle était la corrélation entre les différentes actions?</ol>
<ol>5. Quelle valeur mettons-nous en danger en investissant dans une action particulière?</ol>
<ol>6. Comment pouvons-nous tenter de prédire le comportement futur des stocks? </ol>
<ol>7. Prédire le cours de clôture du cours de l'action inc en utilisant RF</ol>

{% endblock %}