{% extends "base.html" %}

{% block content %}
 
    <h1>Prédiction du prix des actions</h1>
    
    <form action="" method="post" novalidate>
        Choisissez une action pour effectuer la prédiction

    
        <select name="actionSelect">
            {% for action in actionList %}
                <option name="{{action}}" id="{{action}}" value="{{action}}"> {{action}} </option>
            {% endfor %}
        </select>
        
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}